@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;800&display=swap');


body {
    background-image: url('/image/about_page/backgrpund.png');
    background-size: cover;
    background-position: contain;
    background-repeat: no-repeat;
    height: 100vh;
    justify-content: center; 
    display: flex;
    margin-top: 50px;
    background-attachment: fixed;
}


.container {
    min-width: 1300px;
}


.logo, .name, th, span.category, span.description__title, .title{
    font-size: 28px;
    font-weight: 700;
    color: white;
    text-shadow: 0 0 10px #fff;
    font-family: 'Open Sans';
    text-decoration: none;
    transition: opacity 0.2s ease-in;
}
.logo:hover {
    opacity: 0.6;
}



/* ДЛЯ HEADER */
.header {
    display: flex;
    width: 1200px;
    margin-bottom: 60px;
}
.header__inner, .footer__inner {
    height: 100px; 
    background: rgba(140, 180, 150, 0.3);
    backdrop-filter: blur(20px);
    border-radius: 90px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px;
    font-family: 'Montserrat', sans-serif;
}

.nav {
    display: flex;
    gap: 25px;
}
.nav a {
    font-size: 18px;
    font-weight: 400;
    color: white;
    text-decoration: none;
    transition: opacity 0.3s;
}
.nav a:hover {
    opacity: 0.6;
}

.address {
    font-size: 16px;
    text-align: left;
    color: white;
}
.address span {
    font-weight: 800;
}

.header__active.active {
    font-weight: bold;
}




/* ДЛЯ MAIN */
.main__inner {
    width: 1200px;
    height: auto;
    background: rgba(153, 205, 216, 0.55);
    backdrop-filter: blur(30px);
    border-radius: 90px;
    padding: 50px; 
    padding-bottom: 20px;
}

.slider__container {
    width: auto;
    background-color: #99CDD8;
    border-radius: 90px;
    height: auto;
    padding: 75px 50px 75px 50px;
    border: 2px solid black;

    display: flex;
    position: relative;
    overflow: hidden;
    align-items: center;
}

.slider {
    position: relative;
    width: 560px;
}

.slider__img {
    width: 560px;
}

.slider__arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 24px;
    height: 300px;
    cursor: pointer;
    opacity: 0.7;
    transition: opacity 0.3s;
}
.slider__arrow:hover {
    opacity: 1;
    
}
.left {
    left: 0px;
}
.right {
    right: 0px;
}

/* ПОЛОСАА СЛАЙДЕРА */
.slider__dots {
    width: 300px;
    position: absolute;
    bottom: 15px; /* Отступ от нижнего края */
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 90px;
    backdrop-filter: blur(5px);
    transition: opacity 0.5s ease; /* Плавный переход для opacity */
}

.dot {
    width: 75px;
    height: 8px;
    border-radius: 90px;
    opacity: 0.7;
}
.dot.active {
    border-radius: 90px;
    opacity: 1;
    background: white;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 50px
}

.slider__container .name {
    text-align: center;
    border-top: 3px solid #fff;
    border-bottom: 3px solid #fff;
    padding: 10px 0 10px 0;
    width: 270px;
    margin-left: auto;
    margin-right: auto;
}

.name__subtitle {
    margin-top: 30px;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
}

/* Плавный переход для всех элементов, участвующих в анимации */
.slider__img,
.name,
.name__subtitle,
.slider__arrow.left, 
.slider__arrow.right {
  transition: opacity 0.5s ease;
}

/* Класс для плавного исчезновения */
.fade {
  opacity: 0;
}

.slider__arrow.fade:hover {
    opacity: 0;
}

.slider__comments, .file {
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: bold;
}

.file {
    text-decoration: none;
    color: black;
    opacity: 0.5;      
}

.stripe {
    border: 1px solid #fff;
    width: auto;
    margin-left: -50px;
    margin-right: -50px;
    margin-top: 50px;
    margin-bottom: 45px;
}




/* ТАБЛИЦА */
.table-container {
    max-width: auto;
    margin: auto;
    border-radius: 90px;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 15px;
}
table {
    width: 100%;
    border-collapse: collapse;
    text-align: left;
}
th, td {
    border: 2px solid white;
    padding: 10px;
    color: white;
}
th {
    text-align: center;
}
.price {
    text-align: center;
    font-weight: bold;
    font-size: 28px;
    color: black;
}
span.description__title {
    font-size: 14px;

}

th {
    width: 40%; 
}
th:nth-child(2) {
    width: 20%;  
}
th:nth-child(3) {
    width: 40%;  
}




/* LIST */
.name-list {
    color: black;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 28px;
}

.custom-list {
    margin-left: 40px;
    list-style-type: disc; 
    color: black;  
    font-size: 18px;  
    font-family: 'Montserrat', sans-serif;
    line-height: 1.5;  
    padding-left: 20px; 
    font-weight: 500;
}
.custom-list li::marker {
    color: white;
  }




  /* ДЛЯ FOOTER */
.footer {
    margin-top: 60px;
    padding-bottom: 50px;
}

/* Контейнер для всей формы */
.data-picker {
    display: flex;
    align-items: center;
    gap: 20px; /* Расстояние между элементами */
}

/* Индивидуальный контейнер для поля ввода */
.input-container {
    display: flex;
    align-items: center;
    background-color: #99cdd8; 
    padding: 7.8px 13px; 
    padding-right: 3.9px; 
    border-radius: 65px; 
    box-shadow: 0 2.6px 5.2px rgba(0, 0, 0, 0.1); 
    width: 325px; 
}

/* Иконка календаря */
.icon {
    width: 31.2px; 
    height: 31.2px; 
    margin-right: 13px; 
}

/* Текст "ДАТА ЗАЕЗДА" и "ДАТА ВЫЕЗДА" */
label {
    font-weight: bold;
    font-size: 15.6px; 
    margin-right: 10.4px; 
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Поле ввода */
input {
    outline: none;
    background: white; 
    font-size: 15.6px; 
    color: #000;
    max-width: 120px; 
    border-radius: 90px; 
    height: 15px; /* Задайте высоту */
    padding: 0;
    border: 1px solid #000; 
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

/* Placeholder */
input::placeholder {
    color: #888;
    font-size: 12px; 
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100% ;
}

.search {
    max-width: 80px;
}
.search img{
    width: 80px;
    height: 80px;
}